/*This ensures that padding and margin are zero at default*/



/* Home Page Style Sheet*/


*{
	margin: 0px;
	padding: 0px; 
}
html{

font-family: Arial, Helvetica, sans-serif;
background-image: url("me.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-position: center; 
margin: 25px 25px 25px 25px;
padding:100px;
position: center;
height: 100%;
}

h3{
background-color: rgb(6, 193, 250);
border-radius: 3px;
margin: 5px;
}
header{
background: rgb(32, 27, 27);
color:white;
padding: 20px;
border-radius: 3px;

}
body{
text-align:center;
background: white;
width: 1000px;
vertical-align: middle;
margin: 30px;
padding: 40px;
opacity: 0.90;

}

div{
	margin-top: 30px;
	margin-bottom: 30px;
}

/*Menu Styling */

ul{
list-style-type: none;
padding: 10px;
margin: auto 10px auto 10px;
overflow: hidden;
background-color:rgb(131, 128, 128);
top: 100px;	
}	

li{
float:left;
border-right:1px solid white;

}

li:last-child{
border-right: none;

}
.readmore{
	background-color: rgb(180, 176, 176);
}
li a{ 
	display: block;
	color: white; 
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
a{
display: block;
background-color: rgb(131, 128, 128);
padding: 8px 16px;
text-decoration: none;
}

li a:hover{
background-color: rgb(6, 193, 250);
color: rgb(14, 13, 13);
}

.login{
background-color: grey;
color: white;
}


.col {
    float: left;
	width: 32%;
	margin: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
	clear: both;
}
