/*This ensures that padding and margin are zero at default*/
*{
	margin: 0px;
    padding: 0px;
}



body{
text-align:center;
background: #ffffff;
width: 70%;
vertical-align: middle;
margin:auto;
padding-top:1%;
}

/*Menu Styling */
nav{

}
ul{
list-style-type: none;
padding: 0;
margin: auto;
overflow: hidden;
background-color: grey;
top: 100px;	
}	

li{
float:left;
border-right:1px solid white;

}

li:last-child{
border-right: none;

}
li a{ 
	display: block;
	color: white; 
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
a{
display: block;
background-color: grey;
padding: 8px 16px;
text-decoration: none;
}

li a:hover{
background-color: #dddddd;
color: black;
}

.active{
background-color: #4CAF50;
color: black;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.float-right{
    float:right;
    top: 50%;
    left: 50%;
}

section{

}

